html,
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.panel-faq-container {
  border: 0px solid red;
  margin-bottom: -16px;
}

.panel-faq-title {
  /* font-weight: bold; */
  color: #00eaea;
  cursor: pointer;
}

.panel-faq-answer {
  /* padding: 15px;
  display: none; */
  /* border: 10px solid red; */

  /* height만 조정하면(애니메이션 적용하기 편하게) */
  height: 0px;
  overflow: hidden;
  transition: all 0.3s;
}

#btn-all-close {
  margin-bottom: 10px;
  background-color: #726996;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 25px;
  float: right;
}

#btn-all-close:hover {
  background-color: yellow;
  color: black;
}

.active {
  display: block;
  height: 300px;
  transition: all 0.3s;
}

.title {
  text-align: center;
  padding-top: 50px;
}
